
.slideshow-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ededed;
}

.slideshow-prev {
    left: 8px;
}

.slideshow-next {
    right: 8px;
}

.slideshow-prev,
.slideshow-next {
    position: absolute;
    top: 0;
    width: 15%;
    max-width: 80px;
    height: 100%;
    opacity: 0.6;
    z-index: 110;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.slideshow-containe-movier .poster-film {
    margin-right: 6.6px;
    text-align: center;
    width: 240px;
    position: relative !important;
    float: none;
}



.slide_home_event .cycle-sentinel {
    float: none !important;
    margin-right: 5px;
    position: relative !important;
    text-align: center;
    width: 240px;
}


.home-show-event span.slide_home_event_prev {
    background: url("../images/bg-cgv/arow-movie-selection.png") no-repeat scroll -34px 0 transparent;
    display: inline-block;
    height: 68px;
    left: -34px;
    position: absolute;
    text-indent: -9999px;
    top: 60px;
    width: 35px;
}

.home-show-event span.slide_home_event_next {
    background: url("../images/bg-cgv/arow-movie-selection.png") no-repeat scroll 1px 0 transparent;
    display: inline-block;
    height: 68px;
    position: absolute;
    right: -34px;
    text-indent: -9999px;
    top: 60px;
    width: 35px;
}
.home-movie-selection .slideshow-containe-movier {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.home-movie-selection .slideshow-containe-movier ul {
    width: 100%;
}

.home-movie-selection .slideshow-containe-movier span.feature_slide_show_next {
    background: url("../images/bg-cgv/arow-movie-selection.png") no-repeat scroll 1px 0px transparent;
    display: inline-block;
    height: 68px;
    text-indent: -9999px;
    width: 35px;
    position: absolute;
    top: 150px;
    right: -35px;
}

.home-movie-selection .slideshow-containe-movier span.feature_slide_show_prev {
    background: url("../images/bg-cgv/arow-movie-selection.png") no-repeat scroll -34px 0px transparent;
    display: inline-block;
    height: 68px;
    text-indent: -9999px;
    width: 35px;
    position: absolute;
    top: 150px;
    left: -35px;
}

.home-movie-selection .slideshow-containe-movier span.disabled {
    background: none;
}

.home-movie-selection .slideshow-containe-movier span.disabled {
    background: none;
}

.slideshow-next::before {
    background: transparent url("../images/bg-cgv/sprite_btn.png") no-repeat scroll -30px -97px;
    border: medium none;
    height: 52px;
    width: 26px;
}

.slideshow-prev::before {
    background: transparent url("../images/bg-cgv/sprite_btn.png") no-repeat scroll 0 -97px;
    border: medium none;
    height: 52px;
    width: 26px;
}

.slideshow-pager span::before {
    background: rgba(0, 0, 0, 0) url("../images/bg-cgv/sprite_icon.png") no-repeat scroll 0 -90px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -8px;
    margin-top: -6px;
    position: relative;
    top: 50%;
    width: 14px;
}

.slideshow-pager span.cycle-pager-active {
    background: rgba(0, 0, 0, 0) url("../images/bg-cgv/sprite_icon.png") no-repeat scroll -15 -90px;
}
.home-movie-selection .slideshow-containe-movier ul li .play-button {
    background: url("../images/bg-transparent.png") no-repeat scroll 0 0 transparent;
    height: 355px;
    left: 0;
    position: absolute;
    top: 0;
    width: 240px;
    text-indent: -99999px;
    display: none;
    cursor: pointer;
}
.specialtheater-list .feature_slide_show {
    clear: both;
    width: 100%;
}

.feature_slide_show_prev {
    background: transparent url(../images/bg-cgv/arow-movie-selection.png) no-repeat scroll -34px 0;
    display: inline-block;
    height: 68px;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 33px;
    width: 35px;
}

.feature_slide_show_next {
    background: transparent url(../images/bg-cgv/arow-movie-selection.png) no-repeat scroll 1px 0;
    display: inline-block;
    height: 68px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 33px;
    width: 35px;
}

.std .slide-imax-baner ul {
    margin-bottom: 0;
}
.slideshow-container-sweetbox,
.slideshow-container-imax,
.slideshow-container-4dx,
.slideshow-container-dx {
    overflow: hidden;
    position: relative;
}
/* .image-site-opening .slideshow-container {
    margin: 0px;
} */

