
/* ============================================ *
 * Slideshow
 * ============================================ */

.slideshow-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.slideshow-container .slideshow {
    width: 100%;
    padding: 0;
    position: relative;
    margin: 0;
}

.slideshow-container .slideshow>li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: block;
    margin: 0;
}

.slideshow-container .slideshow>li:first-child {
    position: static;
    z-index: 100;
}

.slideshow-container .slideshow>li img {
    max-width: 100%;
    width: 100%;
}

.slideshow-pager {
    text-align: center;
    width: 100%;
    z-index: 115;
    position: absolute;
    bottom: 0px;
    top: auto;
    overflow: hidden;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.slideshow-pager span {
    font-family: arial;
    width: 18px;
    height: 26px;
    display: inline-block;
    color: #DDDDDD;
    cursor: pointer;
}

.slideshow-pager span:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    margin-top: -8px;
    border-radius: 1px;
    background-color: #FFFFFF;
    position: relative;
}

.slideshow-pager span:hover:before {
    background-color: #2e8ab8;
}

.slideshow-pager span.cycle-pager-active:before {
    background: url("../images/bg-cgv/sprite_icon.png") no-repeat scroll -15px -90px;
}

.slideshow-pager>* {
    cursor: pointer;
}

.slideshow-prev,
.slideshow-next {
    position: absolute;
    top: 0;
    width: 15%;
    max-width: 80px;
    height: 100%;
    opacity: 0.6;
    z-index: 110;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.slideshow-prev:before,
.slideshow-next:before {
    content: '';
    width: 0;
    height: 0;
    font-size: 0;
    position: absolute;
    border-style: solid;
    display: block;
    top: 50%;
    margin-top: -15px;
}

.slideshow-prev:hover,
.slideshow-next:hover {
    opacity: 1;
}

.slideshow-prev.disabled,
.slideshow-next.disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    cursor: default;
}

.slideshow-prev {
    left: 8px;
}

.slideshow-prev:before {
    border-width: 15px 15px 15px 0;
    border-color: transparent #FFFFFF transparent transparent;
    top: 50%;
    left: 10px;
}

.slideshow-prev:hover:before {
    border-color: transparent #2e8ab8 transparent transparent;
}

.slideshow-next {
    right: 8px;
}

.slideshow-next:before {
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #FFFFFF;
    top: 50%;
    right: 10px;
}

.slideshow-next:hover:before {
    border-color: transparent transparent transparent #2e8ab8;
}

.cycle-caption {
    position: absolute;
    color: white;
    bottom: 15px;
    right: 15px;
    z-index: 110;
}

.cycle-overlay {
    font-family: tahoma, arial;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 120;
    background: black;
    color: white;
    padding: 15px;
    opacity: .5;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */

.form-popup {
    background: rgba(0, 0, 0, .4);
    border: 3px solid #f1f1f1;
    display: none;
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 15px;
    width: 100%;
    z-index: 9999;
}

/* Add styles to the form container */

.form-container {
    max-width: 50%;
    padding: 0;
    background-color: white;
    position: absolute;
    bottom: 0%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
}

/* Full-width input fields */

.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.8;
    width: 94%
}

/* Add a red background color to the cancel button */

.form-container .payment {
    background-color: red;
}

/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.form-container .info {
    background: #ff0000;
    color: #fff;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1em;
    padding: 1em 1em 2em;
}

.form-container .close {
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 20px;
}

.form-popup .order-item {
    padding: 10px;
}

.form-popup .payment-process {
    float: left;
    text-align: center;
    width: 100%;
}

.form-popup .plist {
    float: left;
    margin-top: 1em;
    width: 100%
}

.form-popup .label {
    float: left;
    margin-bottom: 1em;
    width: 100%;
}

.form-popup .label .item {
    float: left;
    width: 60%
}

.form-popup .label .price {
    float: right;
}

.form-popup .action {
    cursor: pointer;
    float: left;
    margin-bottom: 1em;
    width: 100%;
}

.form-popup .remove {
    color: #ff0000;
    float: left;
}

.form-popup .remove span {
    background: #ff0000;
    border-radius: 14px;
    color: #fff;
    padding: 4px 9px;
}

.form-popup .sub-product-ls,
.qty-product-ls {
    display: block;
}

.form-popup .add-product-ls {
    float: right;
}

.order-page,
.order-page li.mpayment {
    width: 100%;
}

.mpayment {
    display: none;
}

.payment-content {
    float: left;
    width: 100%
}

.payment-content h2 {
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    margin: 1em 0;
    padding-bottom: 1em;
}

.totalPrice {
    float: right;
}

.payment-content .plist {
    float: left;
    margin-bottom: 2em;
    width: 100%;
}

.plist .item_img {
    float: left;
    margin-right: 2em;
    position: relative;
    width: 15%;
}

.plist .item_img img {
    max-width: 100%;
}

.plist .label .item {
    float: left;
    width: 45%;
}

.plist .price {
    float: right;
}

.item_img .qty {
    background: #ff0000;
    border-radius: 14px;
    color: #fff;
    padding: 4px 9px;
    position: absolute;
    right: 0;
    top: 0;
}

.address-info {
    float: left;
    font-size: 18px;
    width: 100%;
    margin: 1em 0;
}

.payment-btn {
    background: #ff0000;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 2em;
    padding: 8px;
    text-align: center;
}

.wrap-box {
    border: 2px solid #ccc;
    border-radius: 10px;
    clear: both;
    padding: 10px;
    margin: 1em 0;
}

.order-purchasing {
    float: left;
    margin-right: 5%;
    padding: 0;
    width: 55%;
}

.order-payment {
    float: left;
    padding: 0;
    width: 40%;
}

.form-order {
    margin: 1em 0;
}

.form-order select {
    padding: 0.3em 0;
    width: 100%;
}

.address-usage {
    display: none;
}

.totalitem,
.totalprice,
.itemname {
    float: left;
}

.itemname {
    padding-left: 0.3em
}

.totalprice {
    float: left;
    font-weight: bold;
    text-align: center;
    width: 78%;
}

/* ============================================ *
 * Bottom responsive
 * ============================================ */

@media only screen and (max-width: 479px) {
    .banner-home img {
        max-width: 100%
    }
    .main-img {
        width: 99%;
    }
    .ls-pdetail {
        width: 100%;
    }
    .selectqty {
        width: 25%;
        padding: 3px 5px;
    }
    .shopping-cart,
    .order-payment {
        width: 100%;
    }
    .order-purchasing {
        margin-right: 0;
        width: 100%;
    }
    .order-payment,
    .order-purchasing {
        padding: 0 15px;
    }
    .form-container {
        max-width: 74%;
    }
    .effect-link a img {
        height: 40px;
    }
    .totalprice {
        width: 70%;
    }
    .product-ls-list {
        padding: 1em;
    }
}

@media only screen and (max-width: 770px) {
    .banner-home img {
        max-width: 100%
    }
    .product-ls-item {
        height: auto;
        margin: 6% 1.5%;
        width: 100%;
    }
}

@media only screen and (min-width: 771px) and (max-width: 800px) {}

@media only screen and (min-width: 479px) and (max-width: 603px) {}

.left-ico {
    background: url(../images/bg-cgv/bg_h3_line.jpg) repeat-x scroll left center rgba(0, 0, 0, 0);
    height: 60px;
    float: left;
    text-align: center;
    width: 40%;
}