<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Infomation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>

<nav th:replace="index :: nav"></nav>

<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div class="container my-5">        
                <p style="font-size:200%; font-weight:600;" class="my-5" align="center">
                    Danh sách rạp DHK
                </p>
                <p style="font-size:150%;" class="my-5">
                    DHK Vincom Bà Triệu - 
                    Địa chỉ: Tầng 6, Vincom Center Bà Triệu, 191 Bà Triệu, Hai Bà Trưng                  
                     <img src="/images/dhkbatrieu.png" width="100%;" height="90%;">
                </p>

                <p style="font-size:150%;" class="my-5">
                    DHK Times City - 
                    Địa chỉ: Tầng 6, Times City, 458 Minh Khai, Hai Bà Trưng                  
                      <img src="/images/dhktimescity.png" width="100%;" height="90%;">
                </p>

                <p style="font-size:150%;" class="my-5">
                    DHK Vincom Nguyễn Chí Thanh - 
                    Địa chỉ: Tầng 4, Vincom Center Nguyễn Chí Thanh, 54A Nguyễn Chí Thanh, Đống Đa                   
                     <img src="/images/dhknguyenchithanh.png" width="100%;" height="90%;">
                </p>

                <p style="font-size:150%;" class="my-5">
                    DHK Tops Market - 
                    Địa chỉ: Tầng 6, Tops Market, 3 Lê Trọng Tấn, Hà Đông                  
                      <img src="/images/dhktopsmarket.png" width="100%;" height="90%;">
                </p>

                <p style="font-size:150%;" class="my-5">
                    DHK Vincom Mega Mall Royal City - 
                    Địa chỉ: Tầng 6, Vincom Mega Mall Royal City, 72A Nguyễn Trãi, Thanh Xuân             
                           <img src="/images/dhkroyal.png" width="100%;" height="90%;">
                </p>

            </div>
        </div>
    </div>
</div>

</body>
</html>
