<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script type="text/javascript" src="https://www.cgv.vn/js/lib/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/lib/jquery/noconflict.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/scriptaculous/slider.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/modernizr.custom.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/jquery.cycle2.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/jquery.cycle2.swipe.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/jquery.cycle2.carousel.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/slideshow.js"></script>
   <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/styles.css" media="all" />
   <link rel="stylesheet" type="text/css" href="https://www.cgv.vn/skin/frontend/cgv/default/css/custom-cgv.css" media="all" />
</head>
<body>

<nav th:fragment="nav" class="topnav">
    <a class="active" th:href="@{'/'}">Trang chủ</a>
    <a th:href="@{'/movies/list'}">Rạp Phim</a>
    <a th:href="@{'/spectacles/list'}">Thực Đơn</a>
    <a th:href="@{'/about'}">Thông tin</a>
    <a th:href="@{'/localization'}">Contact</a>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}"> <a th:href="@{'/movies/showForm'}">Thêm Phim</a></div>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}"> <a th:href="@{'/spectacles/showForm'}">Thêm Thực Đơn</a></div>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{'console'}">DataBase</a></div>

    <div class="test">
        <a sec:authorize="!isAuthenticated()" class="nav-item"><a class="btn btn-outline-light" th:href="@{/register}">Đăng ký</a></a>
        <a sec:authorize="!isAuthenticated()" class="nav-item"><a class="btn btn-outline-light" th:href="@{/login}">Đăng nhập</a></a>

        <a sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-item" id="logoutNavbarDropdown" role="button"
               aria-haspopup="true" aria-expanded="false" th:href="@{/logout}"> Đăng Xuất
            </a>
        </a>

        <a sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" sec:authentication="name">
            </a>
        </a>
    </div>
</nav>

<div class="container my-2">
    <div class="card">
                <div class="slideshow-container">
                    <ul id="home_big_banner" class="slideshow">
                        <li>
                            <a href="https://www.cgv.vn/default/lat-mat-6.html">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_-min_9.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cgv.vn/default/newsoffer/cgv-livestream042023/">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/z/4/z4283782159359_14c26e2d0fe21e3a9cbbcc48017499fc.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cgv.vn/default/chuyen-xom-tui.html">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_211.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cgv.vn/default/tram-tau-ma.html">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448px_4.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cgv.vn/default/newsoffer/cgv-cjsf/">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/r/o/rolling_banner_980x448_16.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cgv.vn/default/newsoffer/cgv-zalo-042023/">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/g/cgv-q2_980x448.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cgv.vn/default/newsoffer/cgv-zalo-upsize/">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/g/cgv-q2_980x448_1.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cgv.vn/default/newsoffer/cgv-dnd-combo/">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/d/_/d_d_combo_rbanner.png" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cgv.vn/default/newsoffer/buzzy-brown/">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/r/o/rolling_23.4_jb_bee.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cgv.vn/default/newsoffer/cgv-latmat-promo/">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/r/o/rolling_23.4_lm.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cgv.vn/default/newsoffer/cgv-vib-promo/">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_news_ofter_mainbanner_.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cgv.vn/default/newsoffer/cgv-pnj-promo/">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_80.png" />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/2/3/230315_nuvi_sttct_kv_980x448-min.png" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cgv.vn/default/newsoffer/cgv-shegan-promo/">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/g/cgv_rolling_banner.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cgv.vn/default/newsoffer/cgv-citi-bank-promo/">
                                <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_78.png" />
                            </a>
                        </li>
                    </ul>
                    <div class="slideshow-pager home_big_banner_pager">&nbsp;</div>
                    <span class="slideshow-prev home_big_banner_prev">&nbsp;</span>
                    <span class="slideshow-next home_big_banner_next">&nbsp;</span>
                </div>
    </div>
</div>

</body>
</html>